:root {
    --canvas-background: #1c1e1f;
    --scrollbar-width: 7px;
    --scrollbar-thumb: #677073;
    --scrollbar-thumb-hover: #767F82;
    --box-highlight: rgba(17, 142, 232, 0.85);
}

[bs-app-theme="light"] {
    --canvas-background: #f0f0f0;
    --scrollbar-thumb: #b0b4b9;
    --scrollbar-thumb-hover: #a1a6ac;
}

html::-webkit-scrollbar {
    height: var(--scrollbar-width);
    width: var(--scrollbar-width);
    background: var(--canvas-background);
}

html::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

html::-webkit-scrollbar-corner {
    display: none;
}

html,
body {

    /* 
Prevent the in app .view-wrapper scroll from disappearing
when users add overflow: hidden to the html/body.

{ overflow: hidden !important; } will still disable the scroll. 
We use it when showing modals and offcanvas components (bs-no-scroll).
*/

    overflow: inherit !important;
}

html {
    -webkit-user-select: none;
    user-select: none;
}

body {
    min-height: 650px;
}

body[bs-extra-whitespace]:after {
    content: '';
    display: block;
    height: 500px;
}

* {
    cursor: default !important;
    pointer-events: all !important;
}

a {
    cursor: text;
}

img:not([src]):not([srcset]) {
    width: 100px;
    height: 80px;
    position: relative;
}

img:not([src]):not([srcset]):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50' height='50'%3E%3Cdefs%3E%3Cpath d='M23 31l-3.97-2.9L19 28l-.24-.09.19.13L13 33v2h24v-2l-3-9-5-3-6 10zm-2-12c0-1.66-1.34-3-3-3s-3 1.34-3 3 1.34 3 3 3 3-1.34 3-3zm-11-8c-.55 0-1 .45-1 1v26c0 .55.45 1 1 1h30c.55 0 1-.45 1-1V12c0-.55-.45-1-1-1H10zm28 26H12c-.55 0-1-.45-1-1V14c0-.55.45-1 1-1h26c.55 0 1 .45 1 1v22c-.3.67-.63 1-1 1z' id='a'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' fill='%23fff'/%3E%3Cuse xlink:href='%23a' fill-opacity='0' stroke='%23000' stroke-opacity='0'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eaeaeb;
}

/* Stopping css animations on the stage */

*:not([bs-anim-preview]) {
    transition: none !important;
    transition-duration: 0s !important;
}

[bs-cut],
[bs-dragged] {
    opacity: 0.3 !important;
}

/* Inline editing */

[contenteditable=true] {
    box-shadow: -1px -1px 1px var(--box-highlight),
        1px 1px 1px var(--box-highlight),
        0 0 11px var(--box-highlight) !important;
    outline: none !important;
    min-height: 1em;
    cursor: initial !important;
    -webkit-user-modify: read-write !important;
}

[contenteditable=true] *:not([contenteditable=false]) {
    cursor: initial !important;
}

[contenteditable=true]:empty:before {
    content: "\00a0\00a0" !important;
}

[contenteditable=true]::selection,
[contenteditable=true] *::selection {
    color: var(--highlight-color);
    background-color: var(--highlight-bg);
}

[contenteditable=true] [contenteditable=false] {
    box-shadow: 0 0 0 1px rgba(17, 142, 232, 0.85);
}

[contenteditable=true] sub {
    vertical-align: sub;
    bottom: 0;
}

[contenteditable=true] sup {
    vertical-align: super;
    top: 0;
}

/* Preventing mouse events for embeds */

iframe,
embed,
object,
audio {
    pointer-events: none !important;
}

html.hit-testing iframe,
html.hit-testing embed,
html.hit-testing object,
html.hit-testing audio {
    pointer-events: all !important;
}

lottie-player {
    display: block;
}



/* Modal scroll and canvas scroll have the same styles: */

body.modal-open .modal::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: rgba(0, 0, 0, 0.2);
}

body.modal-open .modal::-webkit-scrollbar-corner {
    display: none;
}

body.modal-open .modal::-webkit-scrollbar-thumb {
    background: rgb(137, 143, 146);
}

body.modal-open .modal::-webkit-scrollbar-track {
    background: #2f363a;
}

/* Giving sizes to some elements. */

div[class*="col-"]:empty:before,
form:empty:before,
.row:empty:before,
.form-row:empty:before,
.form-group:empty:before,
.container:empty:before,
.vstack:empty:before,
.hstack:empty:before,
div[class*="container-"]:empty:before {
    background-color: #eee;
    content: 'Empty Row';
    font-size: 20px;
    color: #aaa;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    padding: 0 10px;
    line-height: 26px;
}

div[class*="col-"]:empty:before {
    content: 'Empty Column';
}

form:empty:before {
    content: 'Empty Form';
}

.form-group:empty:before {
    content: 'Empty Form Group';
}

form.navbar-form:empty:before {
    display: inline-block;
    padding: 0 40px;
    font-size: 16px;
    line-height: 36px;
}

.container:empty:before,
div[class*="container-"]:empty:before {
    content: 'Empty Container';
}

.vstack:empty:before,
.hstack:empty:before {
    content: 'Empty Stack';
}

.thumbnail img:not([src]) {
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position-y: 50%;
    width: 100%;
    height: 180px;
}

/* Making the dropdown menus have a white background when they're edited */

.dropdown-item:active,
.dropdown-menu>li>a:focus {
    background: unset;
    color: unset;
}

/* This is needed because the li items are 0x0px by default,
and bootstrap studio can't select them */

.pagination>li {
    float: left;
}

/* Iframes without src are colored in gray */
.embed-responsive iframe:not([src]) {
    background-color: #ddd;
}

/* This is needed, otherwise split buttons in input groups break into two lines. */

.input-group-btn .btn-group>.btn {
    float: none;
}



body[bs-no-scroll] {
    overflow: hidden !important;
}

div[class*="col-"]:empty,
div.col:empty {
    display: flex;
}

div[class*="col-"]:empty:before,
form:empty:before,
.row:empty:before,
.container:empty:before,
div[class*="container-"]:empty:before {
    width: 100%;
}

div.col:empty:before {
    background-color: #eee;
    content: 'Empty Column';
    line-height: 40px;
    text-align: center;
    display: block;
    line-height: 80px;
    font-size: 20px;
    color: #aaa;
    font-weight: bold;
    width: 100%;
}

.toast-header img:not([src]):not([srcset]) {
    width: 30px;
    height: 30px;
}

/* Stopping css spinner animations */

.spinner-grow:not([bs-spinner-animation]),
.spinner-border:not([bs-spinner-animation]) {
    animation: none;
}

.spinner-grow:not([bs-spinner-animation]) {
    opacity: 1;
    transform: scale(.8);
}

.custom-range::-webkit-slider-runnable-track {
    cursor: inherit;
}

/* Prevent stretched links from capturing all page clicks */
a.stretched-link:after {
    pointer-events: none;
}

.dropdown-menu[data-popper-placement^=top] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: var(--bs-dropdown-spacer);
}

.dropdown-menu[data-popper-placement=top-start] {
    left: 0;
    right: auto;
}

.dropdown-menu[data-popper-placement=top-end] {
    left: auto;
    right: 0;
}

.fit-cover {
    object-fit: cover;
}

.icon-draggable {
    font-size: 25px;
    cursor: grab !important;
    margin-right: 10px;
}

.nav-item.dropdown > a {
    text-decoration: none !important;
}